<p id="notice"><%= notice %></p>

<p>
  <strong>Login email:</strong>
  <%= @user.login_email %>
</p>

<p>
  <strong>Login crypt pw:</strong>
  <%= @user.login_crypt_pw %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
