<%= link_to "리스트로 돌아가기", "/docs" %>

<p>
  <strong>Title:</strong>
  <%= @doc.title %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @doc.filename %>
</p>

<p>
  <strong>Now history:</strong>
  <div id="history">
    <% if @doc.now_history_id %>
      <%= @doc.now_history_id %> : <%= @history_email %>, <%= @history_timestamp %>
    <% else %>
      저장 기록이 없습니다.  
    <% end %>
  </div>
</p>

<p>
  <strong>Owner user:</strong>
  <%= @doc.owner_user_id %>
</p>

<p>
  <div id="navig">
    문서 불러오기가 완료되었습니다.
  </div>
</p>

<% if @count == 0 %>
  <p>
    <%= form_tag "/docs/addlist", :method => :post do %>
      <%= hidden_field_tag :doc_id, @doc.id %>
      <%= submit_tag "내 리스트에 등록" %>
    <% end %> 
  </p>
<% end %>

<textarea id="screen"><%= @fileload %></textarea>