<%= form_for(@dialog) do |f| %>
  <% if @dialog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dialog.errors.count, "error") %> prohibited this dialog from being saved:</h2>

      <ul>
      <% @dialog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :docs_id %><br>
    <%= f.number_field :docs_id %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
